<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="product.css" />
  </head>
  <body>
    <header>
      <div class="left">
        <a href="home-page.html"><h2 style="color: white">Ai API</h2></a>
      </div>
      <div class="right">
        <ul>
          <li>
            <a href="product.page.html">Product page</a>
            <a href="pricing.html">Pricing page</a>
            <a href="team.html">Team page</a>
          </li>
        </ul>
      </div>
      <div class="burger">&#9778;</div>
    </header>
    <main>
      <div class="top">
        <h1>Our Products</h1>
      </div>
      <div class="container">
        <div class="left">
          <img src="illustrations/undraw_cloud_hosting_7xb1.svg" alt="" />
        </div>
        <div class="right1">
          <h2>Unleash Conversational Intelligence</h2>
          <p>
            Elevate your customer interactions with our Chat Bot Service.
            Powered by cutting-edge AI technology, our chatbots are designed to
            engage, assist, and delight. Whether you're a small business or a
            global enterprise, our per-second pricing ensures you pay only for
            what you use.
          </p>
          <button>Learn More</button>
        </div>
      </div>
      <div class="container2">
        <div class="conleft">
          <h2>DreamWeaver - Image Generation API</h2>
          <p>
            Imagine turning your concepts into stunning visuals with a simple
            click. Our Image Generation Service makes it possible. Harness the
            power of AI to generate images for marketing, design, and more.
          </p>
          <button>Learn More</button>
        </div>
        <div class="conright">
          <img src="illustrations/undraw_image_viewer_re_7ejc.svg" alt="" />
        </div>
      </div>
    </main>
    <footer>
      <div class="foot1">
        <img src="media-files 2/icons/feather/instagram.svg" alt="" />
        <img src="media-files 2/icons/feather/twitter.svg" alt="" />

        <img src="media-files 2/icons/feather/facebook.svg" alt="" />
      </div>
      <div class="foot2">
        <ul>
          <li>
            <a href="">Product page</a>
            <a href="">Pricing page</a>
            <a href="">Team page</a>
          </li>
        </ul>
      </div>
      <div class="foot3">©it is first my AI API websites</div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
