* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 16px 80px;
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  color: white;
  align-items: center;
  position: relative;
}

.right ul li {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

header a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(180, 180, 180);
  transition: color 0.3s;
}

header a:hover {
  color: #00aaff;
}

.burger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.right.active {
  display: flex;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 232, 236);
  padding: 20px 0;
}
.top h1 {
  font-size: 50px;
  padding-bottom: 5px;
}
.container {
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: rgb(227, 232, 236);
  align-items: center;
  justify-content: center;
}
.container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.box {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  min-height: 310px;
  color: rgb(131, 130, 130);
}
.box h2 {
  color: rgb(65, 105, 206);
}
.box h3 {
  color: rgb(83, 81, 81);
}
.core {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 232, 236);
  padding: 30px 30px;
}
.core img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.cores {
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 700px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
}
.cores h2 {
  font-size: 22px;
  padding: 7px 0;
}

footer {
  background-color: rgb(37, 37, 37);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  gap: 10px;
}
footer img {
  filter: invert(1);
  padding: 0px 5px;
}
footer ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0px 10px;
}
li {
  list-style: none;
}
.foot3 {
  border-top: 1px solid gray;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}
@media (max-width: 700px) {
  .burger {
    display: block;
  }

  .right {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #121212;
    width: 100%;
    left: 0;
    padding: 10px 0;
    text-align: center;
  }
  header {
    padding: 15px 50px;
  }

  .right ul li {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .right.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
